@import "../../vars.css";

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:61px;
    z-index: 2;
    margin: 0 10%;
}
.title{
    margin-top: 20px;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: var(--font-roboto);
    text-decoration: none;
}
h1 {
    color: hsl(0, 0%, 48%);
    font-size: 40px;
    font-weight: 500;
    font-family: monospace;
    letter-spacing: 4px;
    cursor: pointer;
  }
  /* span:hover{
    color:orange;
  } */
  
  h1 span {
    transition: 0.5s ease-out;
  }
  h1:hover span:nth-child(1) {
    margin-right: 5px;
  }
  h1:hover span:nth-child(1):after {
    content: "'";
  }
  h1:hover span:nth-child(2) {
    margin-left: 30px;
  }
  h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }
.menu{
    display: flex;
}
.menuItems{
    display: flex;
    gap:47px;
    list-style: none;
}

.menuBtn{
    display:none;
}
.menuItems a{
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
}
.menuItems a:hover{
    border:1px solid #59aaff;
    border-radius: 15px;
    padding: 10px;
    color:var(--color-text);
    background-image: linear-gradient(
        90deg,
        rgba(73, 115, 149, 0.929) 0%,
        rgba(255,255,255,0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

/* for animation of menubar */
@media screen and (max-width:830px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .menu{
        position:absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;  /* for disappearing of menu-items */
    }
    .menuBtn{
        display: block;
        cursor: pointer;
    }
    .menuItems{
        display: none;  
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background:rgb(32, 67, 133) ; 
        background: linear-gradient(
        0deg,
        rgba(25, 55, 109, 0.2) 0%,
        rgba(25, 55, 109, 1) 100%
    );
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    }
    .menuOpen{
        display: flex;
        z-index: 1;
    }
}