:root{
    /* colors */
    --color-text:#ffff;
    --color-primary:#576cbc;
    --color-secondary:#19176d;
    --color-dark:#0b2447;
    --color-bg:#04152d;

    /* fonts */
    --font-roboto:'roboto';
}